# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.stackdump
Assets/AssetStoreTools*
Assets/Plugins/Editor/JetBrains*
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
crashlytics-build.properties
.gradle/
exportedObj/
stableBuildId/

# OS
.DS_Store
Thumbs.db
